.report-container {
    margin-left: 5vw;
    margin-right: 5vw;
    max-width: 800px;
    /* make it center */
    margin-left: auto;
    margin-right: auto;
}


.data-container {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 15px;
}

.button-container {
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-title{
    margin-top: 0px;
    padding-top: 10px;
}


.data-card{
    height: 120px;
    width: 120px;
    
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
}
.card-container{
    padding-top: 20px;
}

.nostril{
    padding-right: 30px;
}
.border{
    border: 0.1px solid #83BF8D;
    border-radius: 10px;
}