.button-container {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.timer-wrapper {
  margin-top: 60px;
}

.time {
  font-size: 30px;
}

.right {
  margin-left: 20px;
}

.unit {
  margin-left: 10px;
  font-size: 16px;
}