
.Layout {
  /* padding: 10px; */
  height: 100vh;
  width: 100vw;
  background-color: white
}

.Content {
  text-align: center;
  background-color: white;
  margin: 5vw;
}

.Header{
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
}

.Menu{
  background-color: #daecf7;
  color:white ;
}

.Logo{
  height: 50px;
  width: 50px;
  margin-top: 3px;
}